extends layout

block content
  h1 Mini Message Board
  table.table.table-striped
    tr
      th User
      th Message
      th Date Added
    each val in messages
      tr
        td= val.user
        td= val.text
        td= val.added.toLocaleString()

  a(href='/new') Create new message