extends layout

block content
  h1 Create new message
  form(method='POST' action='/new')
          div.form-group
            label(for='user') Name:
            input#user.form-control(type='text', name='user')
          div.form-group
            label(for='message-text') Message Text:
            input#message-text.form-control(type='text', name='message-text')
          button.btn.btn-primary(type='submit') Create new message